bin/
c/
doc/
debian/*.dsc
debian/*.deb
debian/*.changes
debian/*.build
debian/*.upload
debian/*.tar.gz
debian/gamelauncher/*.mk
debian/gamelauncher/Makefile
debian/gamelauncher/README
debian/gamelauncher/src/
debian/gamelauncher/resources/
debian/gamelauncher/bin/
debian/gamelauncher/debian/changelog
debian/gamelauncher/debian/files
debian/gamelauncher/debian/*.log
debian/gamelauncher/debian/*.substvars
debian/gamelauncher/debian/tmp/
debian/gamelauncher/debian/gamelauncher/
